<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
   	<link type="text/css" rel="stylesheet" href="/static/styles.css" />
	<script type="text/javascript" src="http://www.google.com/jsapi"></script>
        <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="/static/chart.js" > </script>
  </head>
<body bgcolor="#E6E6FA">
<div id="container">
<div id="header"><center><h1>Google Chart Visualization</h1></center></div>
    <div id="content">

<br><br>The Google Chart API is a tool that lets people create a chart from some data and embed it in a web page. Google creates a PNG image of a chart from data and formatting parameters in an HTTP  request. Many types of charts are supported, and by making the request into an image tag, people can simply include the chart in a web page.<br><br>

Originally it was an internal tool to support rapid embedding of charts within Google's own applications (like Google Finance for example). Google decided it would be a useful tool to make available to web developers. It officially launched on December 6, 2007. <br><br>

Currently, line, bar, pie and radar charts, as well as Venn diagrams, scatter plots, sparklines, maps, google-o-meters, and QR codes are supported. <br><br><br><br>
		<div id="table_val" >
		    <table>
			<tr><td><input type="text" value= 3 name="val1" id="val1" size ="4" />: Mushrooms </td>
			    <td><input type="text" value= 1 name="val2" id="val2" size ="4" />:Onions  </td></tr>
			<tr><td><input type="text" value= 1 name="val3" id="val3" size ="4" />: Olives  </td>
			    <td><input type="text" value= 1 name="val4" id="val4" size ="4" />: Zucchini </td></tr>
			<tr><td><input type="text" value= 2 name="val5" id="val5" size ="4" />: Pepperoni </td>
			    <td><input type="text" value= 4 name="val6" id="val6" size ="4" />: Sandwich </td></tr>
			<tr><td><h4><button id="btn1">Draw Pie chart</button></h4></td>
			<td><h4><button id="btn2">Draw Bar chart</button></h4> </td></tr>  
		</table> </div>
		</div>
	<div  id="chart_div"></div>
   <div id="footer">
   <center><h6>by</h6><h4>Anoop.S.M</h4></center>
   </div>
</div>
</body>
</html> 


